Source: wavesurfer
Section: sound
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.3.0

Package: wavesurfer
Architecture: all 
Depends: tcl-snack, tk8.6
Suggests: tkdnd
Description: Sound Manipulation Program
 Wavesurfer is a sound manipulation program, it has been designed to suit both
 novice and advanced users. WaveSurfer has a simple and logical user interface 
 that provides functionality in an intuitive way and which can be adapted to 
 different tasks. 
