#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_TAR_SRCDIR := wavesurfer-1.8.4
DEB_MAKE_INSTALL_TARGET := install

include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk


